* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #A4DBDB;
    min-height: 100vh;
    width: 900px;
    margin: auto;
}

.card {
    padding: 1.5rem;
    width: 95%;
    height: 47rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00A4E8;
    border-radius: 2rem;
    box-shadow: rgb(90, 146, 206) 0px 20px 30px -10px;
    gap: 2rem;
    margin: 2rem;
    background-color: #98b0c9;

    img {
        width: 50%;
        height: 20rem;
    }
   
}
h6, h5{
    font-size: medium;
    font-weight: 700;
}
.deux, .quarte {
    display: flex;
    flex-direction: row-reverse;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #96B8DB;
    gap: 2rem;
    padding: 1rem;
    .topnav {
        display: flex;
        gap: 2rem;
    }
    img{
        width: 15%;
        height: 6rem;
    }

    a {
        text-decoration: none;
        color: aliceblue;
        color: beige; /* ⚠️ contrastes  */
      
        &:hover {
            background-color: #00A4E8;
        }
    }

}

h1 {
    text-align: center;
    padding: 2rem;
    color: beige;
    /* ⚠️ contrastes  */
}
h2{
    text-align: center;
    color: white;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: larger;
    font-weight: 900;
}

.containerApropos {
    background-color: beige;
    padding: 2rem;

}
.containerContact{
    padding: 3rem 10rem;
    font-size: medium;
   
}
h2{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type=submit]{
    cursor: pointer;
    background-color: antiquewhite;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: rgb(90, 146, 206) 0px 20px 30px -10px;
    transition: all 200ms linear;
    margin: 1rem 7rem;
    &:hover{
        background-color: rgb(90, 146, 206);
        color: white;
    }
}
input, textarea{
    padding: 0.2rem 2rem;
    margin: 1rem;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #96B8DB;
    padding: 1rem;
    color: beige;
    a {
        text-decoration: none;
        color: aliceblue;
        color: beige; /* ⚠️ contrastes  */
        font-weight: bolder;
        font-size: larger;

        &:hover {
            background-color: #00A4E8;
        }
        
    }
    i{
        margin: 0 0.5rem;
    }
}
